<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}P3 CMS{% endblock %}</title>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://use.fontawesome.com/14ee000d5e.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700&amp;subset=cyrillic" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.171.0.min.js"></script>

	<link rel="stylesheet" href="{{request.static_url('app1:static/libs/slds245/assets/styles/salesforce-lightning-design-system.css')}}">
	<link rel="stylesheet" href="{{request.static_url('app1:static/global.css')}}">
	{% block head %}{% endblock %}
</head>
<body>
    <div id="c-container">
        <div class="c-header">
            <div class="slds-grid">
                <div class="slds-col">
                    <a href="{{ request.route_url('home') }}" class="c-logo-link">
                        <img src="{{request.static_url('app1:static/pyramid-16x16.png')}}" alt="P3 CMS Logo" class="c-logo" />
                        <span class="c-site-title">P3 CMS</span>
                    </a>
                </div>
                <div class="slds-col">

                </div>
            </div>
        </div>
        <div class="c-sub-header">
            <div class="slds-grid">
                <div class="slds-col"></div>
                <div class="slds-col c-right">
{#                    {% if user.is_authenticated %}#}
{#                        Welcome <a href="{% url 'profile:index' %}">{{ user.username }}</a>, <a href="{% url 'account_logout' %}">Sign out</a>#}
{#                    {% else %}#}
{#                        <a href="{% url 'account_login' %}">Sign In</a>#}
{#                        &nbsp;#}
{#                        <a href="{% url 'account_signup' %}">Sign Up</a>#}
{#                    {% endif %}#}
{#                    <a href="{{ request.route_url('auth_login') }}">Login?</a>#}

                    {% if request.user is none %}
                        <p class="pull-right">
                        <a href="{{ request.route_url('auth_login') }}">Login</a>
                        </p>
                        {% else %}
                        <p class="pull-right">
                        {{request.user.username}} <a href="{{request.route_url('auth_logout')}}">Logout</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="c-messages-box">
            {% if request.session.peek_flash() %}
                <div>
                    {% for message in request.session.pop_flash() %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="c-content">
            {% block content %}{% endblock %}
        </div>
        <div class="c-footer">
            {% block footer %}
            &copy; Copyright 2017 by Dmitry Shnyrev.
            {% endblock %}
        </div>
    </div>

</body>
</html>